@use 'variables';

.body__blog__aside{
    padding: 5px;
    text-align: center;
    font-style: italic;

    &__widget{
        margin: 10px 0;

        h4{font-family: variables.$fontPrincipal ;}

        p{color: black;
            font-style: italic;
            padding-bottom: 10px;
        }

        &__top{
            display: flex;
            padding: 6px;
            gap: 6px;
            background: #00027e;

            span{
                width: 12px;
                height: 12px;
                border-radius: 50%;
            }
            

            span:nth-child(1){
                background-color: red;
            }
            span:nth-child(2){
                background: yellow;
            }
            span:nth-child(3){
                background: #7cff7c;
            }

        }
    }

h4{
    font-size: 1.2em;
    padding: 8px;
    font-family: variables.$fontPrincipal;
    letter-spacing: 2.5px;
}

&__gif1{
    margin-top: 20px;
    border-radius: 10px;
}

}