@use 'variables';

.body__blog {
    display: grid;
    grid-template-columns: 1fr 3fr;

    @media (max-width:678px) {
        grid-template-columns: 1fr;
        ;
    }

    img {
        max-width: 100%;
    }

    &__main {
        background-color: black;
        padding: 17px;
        text-align: center;
        color: white;

        &__count {
            background: rgba(233, 214, 214, 0.2);
            backdrop-filter: blur(5.9px);
            padding: 20px;
            margin-top: 10px;
            
            h2{
                font-family: variables.$fontPrincipal;
                letter-spacing: 5px;
                font-size: 2em;

                span{
                    color: black;
                    font-family: variables.$fontSecundaria;
                }
            }

            &:hover{
                box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
            
            }
        }

        p {
            color: white;
            font-family: variables.$fontSecundaria;

            a {
                color: variables.$pink3;
            }
        }
    }
}