@use 'variables';

.body__blog{
    display: grid;
    grid-template-columns: 1fr 3fr;

    @media (max-width:678px) {
        grid-template-columns: 1fr;;
    }

    img{
        max-width: 100%;
    }

    &__main{
        background-color: black;
        padding: 17px;
        text-align: center;
        color: white;

        p{
            color: white;
            font-family: variables.$fontSecundaria;

            a{
                color: variables.$pink3;
            }
        }
    }
}