@use 'variables';
@use 'header';
@use 'blog';


@font-face {
    font-family: 'Romantic', ;
    src: url(../../assets/fonts/ROMANTIC.TTF);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/wallpaper.jpg);
    

}

.container{
    max-width: 900px;
    margin: 0 auto;
    background: linear-gradient(180deg, variables.$pink1 0%, variables.$pink2 50%, variables.$pink3 100%);
    height: auto;
}