@use 'variables';
@use 'header';
@use 'blog__main';
@use 'footer';
@use 'aside';


@font-face {
    font-family: 'Romantic', ;
    src: url(../../assets/fonts/ROMANTIC.TTF);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    cursor: url('http://www.rw-designer.com/cursor-extern.php?id=82238'), auto;
    background-image: url(../images/wallpaper.jpg);

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: variables.$pink2;
    }

    &::-webkit-scrollbar-thumb {
        background-color: variables.$pink3;
        border-radius: 20px;
        border: 3px solid variables.$pink1;
    }
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: linear-gradient(180deg, variables.$pink1 0%, variables.$pink2 50%, variables.$pink3 100%);
    height: auto;
}

p {
    color: white;
    font-family: variables.$fontSecundaria;
}